/* Variables */
:root{
    --main-color: #19c8fa;
    --background-color: #1f2021;
    --transparent-color: rgb(15, 115, 143, 0.7);
}
/* ============================================================================== */
                     /* -- Global Rules -- */
/* ============================================================================== */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}
ul{
    list-style: none;
}
::selection{
    background-color: var(--main-color);
    color: #fff;
}
/* .parent{
    background-color:rgb(255, 255, 255) ;
} */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; 
    margin-right:auto;
} 

.main-heading{
    text-align: center;
} 
.main-heading h2{
    font-weight: normal;
    color: black;
    font-size: 40px;
    position: relative;
    padding-top: 20px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.main-heading h2::before{
    content: '';
    position: absolute;
    left: calc(50% - 60px);
    background-color: #333;
    transform: translateY(-50%);
    height: 2px;
    bottom: -15px;
    width: 120px
}
.main-heading h2::after{
    content: '';
    position: absolute;
    left: calc(50% - 7px);
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -30px;
    background-color: white;
}
.main-heading p{
    width: 550px;
    max-width: 100%;
    color:#777;
    line-height: 1.8;
    margin: 0 auto 100px;
    padding: 10px;
    text-transform: uppercase;
}
/* ============================================================================== */
                     /* -- Media Querry -- */
/* ============================================================================== */

/* -- Small Screen -- */
@media (min-width: 767px) {
    .container{
        width: 750px;
    }
}
/* -- Medium Screen -- */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* -- Large Screen -- */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
} 
/* =================================-- Header --============================================= */
header{
    padding: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
header .toggle-menue{
    display: none;
    color: white;
    font-size: 22px;
}

header .container{
    height: 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: '';
    position: absolute;
    border: 1px solid #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    z-index: -1;
}
header img{
    height: auto;
    width: auto;
}
header nav{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
}
header nav ul li a{
    position: relative;
    display: flex;
    color: white;
    padding: 40px 10px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    z-index: 3;
}

header nav ul li a:hover,
header nav ul li a.active{   
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    z-index: 1;
    bottom: -1px;
}

header nav .form{
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 60px;
    padding-left: 10px;
}
header nav .form::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    border-left:1px solid white;
    left: -10px;
}
header nav .form:hover i{
    rotate: 360deg;
    color: #0f748f;
    transition:  .5s ease-in-out;
}
@media (max-width: 767px) {
    header nav ul{
        display: none;
    }
    header .toggle-menue{
        display: flex;
        cursor: pointer;
    }
    header nav .form{
        margin-left: 30px;
    }
    header .toggle-menue:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 15px;
        width: calc(100% - 30px);
        background-color: rgb(31, 32, 33 ,0.5);

    }
    header nav ul li a{
        padding: 15px !important;
    }
}
/* =================================-- Landing --============================================= */
.landing{
    min-height: 100vh;
    background-color: var(--background-color);
    background-image: url(../images/landing.jpg);
    background-size:cover ;
    /* position: relative; */
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.landing .txt{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .landing{
        background-image: url(../images/landingMobile.jpg);
    }
    .landing .txt{
        width: 100%;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    .landing .txt .content{
        width: 100%;
    }
    .landing .change-background{
        display: none;
    }
}
.landing .txt .content{
   padding: 20px;
}
.landing .txt .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom:20px ;
}
.landing .txt .content p{
    font-size: 14px;
    line-height: 1.6;
}
/* =================================  */
.landing .change-background {
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);
    color: white;
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .fa-angle-left:hover,
.landing .fa-angle-right:hover{
    color: var(--main-color);
    cursor: pointer;
}
.landing .bullets{
    position: absolute;
    left: calc(50% - 30px);
    transform: translateY(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
}

/* =================================-- services --============================================= */
                                        /* Section 1 */
.services-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap:30px ;
}
.services-content .service{
    display: flex;
    padding: 20px;
    text-align: left;   
}
.services-content .service div{
    padding: 0 0 0 100px ;
    width: 100%;
}
.services-content .service i{
    color: #777
}
.services-content .service h2{
    color: var(--main-color);
    padding-bottom: 20px;
}
.services-content .service p{
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .services-content .service{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services-content{
        display: flex;
        flex-direction: column;
    }
    .services-content .service div{ 
        padding: 10px;
    }
}


/* -------------------- Section 2 ----------------------------- */
.service-section{
    background-color: var(--background-color);
    margin-top: 50px;

}
.service-section {
    background-size: cover;
    background-image: url(../images/landing_Services.jpg);
    background-repeat: no-repeat;
}
.service-section .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}

.service-section  .slide{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.service-section  .slide div{
    background-color: var(--transparent-color);
    height: 50%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.service-section .slide div > p{
    line-height: 1.8;
    padding: 0 0 20px 20px;
}
.service-section .slide div ul li p{
    display: inline;
    margin: 0 0 20px 20px
}
.service-section .slide div ul li{
    margin: 0 0 20px 20px
}
@media (max-width: 767px)  {
    .service-section .slide div > p {
        line-height: 1;
        padding: 20px 0 20px 0;  
    }
    .service-section .slide div ul li {
        padding: 5px;
        margin: 0 20px 20px 0;
    }

}
.content .devices{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
.content .devices img{
    width: 40%;
    height: 70%;
    transform: translateY(45px);
}
@media (max-width: 767px) {
    .service-section .content {
        grid-template-columns: 1fr 5fr;
    }
    .service-section .content .devices img {
        width: 180%;
    }
}
/* =================================-- Portfolio --============================================= */
.portfolio .portfolio-heading{
    margin: 20px;
}
.portfolio .portfolio-heading ul{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.portfolio .portfolio-heading ul li{
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #a2a2a2;
}
.portfolio .portfolio-heading ul li:hover,
.portfolio .portfolio-heading ul li.active{
    color: white;
    background-color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    z-index: 1;
    bottom: -1px;
    cursor: pointer;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}
.portfolio .portfolio-content .portfolio-content1,
.portfolio .portfolio-content .portfolio-content2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr
}
.portfolio .portfolio-content .portfolio-section.background-balck{
    background-color: #1f2021;
}   
.portfolio .portfolio-content .portfolio-section.background-gray{
    background-color: #4a4b4c;
    /* background-image: url(../images/layers_hover.png); */
}
.portfolio .portfolio-content .portfolio-section.background-gray.img{
    background-color: transparent;
    background-image: url(../images/layers_hover.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
@media (max-width: 767px) {
    .portfolio .portfolio-content .portfolio-content2{
        display: none;
    }
    .portfolio .portfolio-content{
        grid-template-columns: 1fr;
    }
    .portfolio .portfolio-content .portfolio-content1{
        grid-template-columns: repeat(2,1fr);
    }
}

.portfolio .btn{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.portfolio .btn input[type="button"]{
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.portfolio  .section2{
    position: relative;
    background-color: #1f2021;
    height: 550px;
    display: flex;
    align-items: center;
}
.portfolio .section2 .landing-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr 2fr);
    width: 100%;
    height: 100%;
}
.portfolio .section2 .landing-grid .grid-black{
    background-color: #1f2021;
    height: 100%;
}
.portfolio .section2 .landing-grid .grid-light{
    background-color: #4a4b4c;
    height: 100%;
}

.portfolio  .section2 .middle{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 50%;
    background-color: var(--transparent-color);
    align-items: center;
    justify-content: center;
}
.portfolio .section2 .middle input[type="button"]:hover{
    background-color: var(--main-color);
    color: white;
    transition: 0.3s ease-in-out;
}
.portfolio .section2 .middle input[type="button"]{
    background-color: #1f2021;
    color : white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.portfolio .section2 .middle h2{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.portfolio .section2 .middle p{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .portfolio .section2 .landing-grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        height: 100%;
    }
}

/* =================================-----------============================================= */
/* =================================-- About --============================================= */
.about .about-secion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .about-secion1 .devices{
    max-width: 100%;
}
.about .about-secion1 .about-score{
    padding: 0 200px;
    position: relative;
    background-color: #121116;
    height: 550px;
    width: 100%;
    align-items: center;
    transform: translateY(-3px);
}
.about .about-secion1 .about-score .landing-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr 2fr) 1fr;
    width: 100%;
    height: 100%;
}
.about .about-secion1 .about-score .landing-grid .grid-black{
    background-color: transparent;
    height: 100%;
}
.about .about-secion1 .about-score .landing-grid .grid-light{
    background-color: #2a252b;
    height: 100%;
}

.about .about-secion1 .about-score .score{
    position: absolute;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(150px,1fr));
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
}
.about .about-secion1 .about-score .score .score-content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about .about-secion1 .about-score .score .score-content i{
    font-size: 20px;
}
.about .about-secion1 .about-score .score .score-content h2{
    font-size: 70px;
    padding: 20px;
}
.about .about-secion1 .about-score .score .score-content p{
    font-weight: lighter;
    padding: 20px;
}
@media (max-width: 767px) {
    .about .about-secion1 .about-score {
        padding: 0 15px;
    }
    .about .about-secion1 .about-score{
        padding: 0 15px;
    }
    .about .about-secion1 .about-score .score{
        gap: 5px;
        grid-template-columns: repeat(2, minmax(200px,1fr));
    }
    .about .about-secion1 .devices{
        overflow: hidden;
    }
}

/* ==============-- About  */
.about .about-section2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.about .about-section2 .about-content{
    padding: 20px;
    text-align: left;
    justify-items: center;
    align-content: center
}
.about .about-section2 .about-content .circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--background-color);
}
.about .about-section2 .about-content .about-content-section{
    display: grid;
    grid-row: span 2;
    gap: 50px;
    grid-template-columns: 1fr 3fr;
    margin: 30px;
}
.about .about-section2 .about-content > p{
    color: #4a4b4c;
    margin: 30px;
}
.about .about-section2 .about-content > p + p{
    color: #0f748f;
    margin: 30px;
    text-align: center;
    line-height: 1.2;
    font-size: 15px;
    text-align: center;
}
.about .about-section2 .about-content .about-content-section p{
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #777;
    text-align: left
}
.about .about-section2 .about-content .about-content-section span{
    position: absolute;
    bottom: 0;
    right:0;
    color: rgba(119, 119, 119 ,0.5);
    font-size: 10px;
}
.about .about-section2 .about-content ul{
    display: flex;
}

.about .about-section2 .about-content li{
    border: 1px solid #cac2c2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.about .about-section2 .about-content li:hover,
.about .about-section2 .about-content .active{
    background-color: var(--main-color);
    cursor: pointer;
}


.about .about-section2 .about-content .about-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 66%;
}
.about-content .about-skills .progress-bar-conainer{
    width: 100%;
    padding: 10px 0;
}
.about-content .about-skills .progress-bar-conainer p{
    padding: 10px 0;
}
.about-content .about-skills .progress-bar-conainer .progressbar-colored{
    position: relative;
    height: 25px;
    width: 80%;
    background-color: var(--main-color);
}
.about-content .about-skills .progress-bar-conainer .progressbar-colored::before{
    content: '36%';
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: #0a0a0a;
    right: -15px;
    color: white;
    top: -25px;
    text-align: center;
    font-size: 10px;
    z-index: 100;
    align-content: center;
}
.about-content .about-skills .progress-bar-conainer .progressbar-colored::after{
    content: '';
    position: absolute;
    right: -6px;
    top: -6px;
    border-width: 6px;
    align-content: center;
    border-color: black transparent transparent transparent;
    border-style: solid;
    z-index: 100;
}
.about-content .about-skills .progress-bar-conainer .progressbar{
    height: 25px;
    width: 100%;
    background-color: #dedadc;
}
@media (max-width: 767px) {
    .about .about-section2{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .about .about-section2 .about-content .about-content-section p {
        padding: 5px;
        font-size: 13px;
    }
    .about .about-section2 .about-content {
        padding: 5px;
    }
}


.about .about-section3{
    margin-top: 20px;
    max-width: 100%;
    height: 300px;
    background-color: var(--background-color);
    background-image: url(../images/landing.jpg);
    background-size:cover ;
    display: flex;
    align-items: center;
}
.about .about-section3 .content{
    color: white;
    justify-items: center;
    height: 50%;
    margin:  0 100px;
}
.about .about-section3 .content p:first-child{
    font-weight: 700;
    text-align: center;
}   
.about .about-section3 .content p:nth-child(2){
    margin-top: 10px;
}   


@media (max-width: 767px) {
    .about .about-section3 .content {
        margin: 0 5px;
    }
    .about .about-section3 .content p:first-child {
        font-weight: 400;
        font-size: 15px;
    }
}


/* =================================-----------============================================= */
/* =================================-- PRICING --=========================================== */
.pricing .pricing-section .prices{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}
.pricing .pricing-section .prices .price-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing .pricing-section .prices .price-plan > div{
    width: 70%;
    text-align: center;
}
.pricing .pricing-section .prices .price-plan div > h3{
    padding-top: 30px;
    font-weight: lighter;
    border-top: 1px solid var(--main-color);

}
.pricing .pricing-section .prices .price-plan div > p{
    padding: 30px 0;
    font-size: 50px;
    font-weight: 500;
    border-bottom: 1px solid var(--main-color);
}
.pricing .pricing-section .prices .price-plan div > p sup{
    font-size: 40%;
    top: -0.9em;
    font-weight: inherit;
    left: 10px;
}
.pricing .pricing-section .prices .price-plan div > p sub{
    font-size: 33%;
    font-weight: inherit;
    left: -6px;
}

.pricing .pricing-section .prices .price-plan ul{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid var(--main-color);
}
.pricing .pricing-section .prices .price-plan ul li{
    padding: 20px;
    border-bottom: 1px solid var(--main-color);
    min-width: 60%;
    text-align: center;
}
.pricing .pricing-section .prices .price-plan ul li:last-child{
    border-bottom: 0px
}
.pricing .pricing-section .prices .price-plan button{
    color: #4a4b4c;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    margin-top: 20px;
}

.pricing .pricing-section .pricing-contact{
    justify-items: center;
    margin: 50px;
}
.pricing .pricing-section .pricing-contact p{
    text-align: center;
    padding: 20px;
    font-weight: 400;
}
.pricing .pricing-section .pricing-contact input{
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}



.pricing-section .pricing-footer{
    background-image: url(../images/landing_Services.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    height: 200px;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}
.pricing-section .pricing-footer .container > div{
    display: flex;
    align-items: center;
    width: 100%;
}
.pricing-section .pricing-footer .inputs{
    border: 1px solid white;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end
}
.pricing-section .pricing-footer .inputs div{
    width: 10%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex
}
.pricing-section .pricing-footer .inputs div i{
    font-size: 20px
}
.pricing-section .pricing-footer .inputs input{
    width: 70%;
    background-color: transparent;
    border: none;
    color: white;
}
.pricing-section .pricing-footer .inputs button{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.pricing-section .pricing-footer div + div{
    margin-left: 20px;
}

@media (max-width: 767px) {
    .pricing .pricing-section .prices{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    .pricing .pricing-section .prices .price-plan button{
        margin-bottom: 20px;
    }
    .pricing .pricing-section .contact-us{
        margin: 0
    }

    .pricing-section .pricing-footer .container > div{
        flex-direction: column;
    }
    .pricing-section .pricing-footer .inputs{
        width: 100%;
        justify-content: space-between;
    }
    .pricing-section .pricing-footer div + div{
        margin-top: 20px;
        margin-left: 0;
    }
    .pricing-section .pricing-footer .inputs button{
        font-size: 10px;
    }
    
}

/* =================================-----------============================================= */
/* =================================-- CONTACT US --========================================= */
.contact-us .contact-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.contact-us .contact-content .txtbxs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.contact-us .contact-content .txtbxs input[type='text']{
    height: 20%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #cfc8c8;
}
.contact-us .contact-content .txtbxs input:nth-child(3){
    height: 200px;
}

.contact-us .contact-content .contact-info{
    padding: 40px 10px 0;
}
.contact-us .contact-content .contact-info div{
    height: 50%;
}
.contact-us .contact-content .contact-info div +div{
    padding-top: 15px;
}

.contact-us .contact-content .contact-info div h3{
    padding-bottom: 25px;
    font-size: 10px;
    color: #665f5f;
}
.contact-us .contact-content .contact-info div p{
    color: #777;
    font-size: 10px;
    padding-top: 5px;
}

.contact-us .btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}
.contact-us .btn input{
    cursor: pointer;
    padding: 10px 30px;
    background-color: var(--main-color);
    color: white;
    border: none;
    height: fit-content;
}


/* =================================-----------============================================= */
/* =================================-- FOOTER --============================================ */
footer {
    background-image: url(../images/landing.jpg);
    color: white;
    background-size: cover;
    background-position: center;
}
footer .footer-content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    justify-content: space-around;
}

footer .footer-content .logo{
    padding-top: 100px;
    padding-bottom: 50px;
}

footer .footer-content .social-links{
    width: 25%;
    text-align: center;
}
footer .footer-content .social-links ul{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
footer .footer-content .social-links ul li i{
    color: white 
}
footer .footer-content .copy-rights{
    margin-bottom: 10px;
    margin-top: 30px;
}
footer .footer-content .copy-rights p{
    font-weight: bold;
    margin: 20px;
}
footer .footer-content .copy-rights p span{
    font-weight: bolder;
    color: var(--main-color);
}

@media (max-width: 767px) {
    footer .footer-content .social-links{
        width: 50%;
    }
}
