/* Variables */
:root{
    --main-color: #19c8fa;
    --background-color: #1f2021;
    --transparent-color: rgb(15, 115, 143, 0.7);
}
/* ============================================================================== */
                     /* -- Global Rules -- */
/* ============================================================================== */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}
ul{
    list-style: none;
}
::selection{
    background-color: var(--main-color);
    color: #fff;
}
/* .parent{
    background-color:rgb(255, 255, 255) ;
} */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto; 
    margin-right:auto;
} 

.main-heading{
    text-align: center;
} 
.main-heading h2{
    font-weight: normal;
    color: black;
    font-size: 40px;
    position: relative;
    padding-top: 20px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.main-heading h2::before{
    content: '';
    position: absolute;
    left: calc(50% - 55px);
    background-color: #333;
    transform: translateY(-50%);
    height: 2px;
    bottom: -15px;
    width: 120px
}
.main-heading h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -30px;
    background-color: white;
}
.main-heading p{
    width: 550px;
    max-width: 100%;
    color:#777;
    line-height: 1.8;
    margin: 0 auto 100px;
}
/* ============================================================================== */
                     /* -- Media Querry -- */
/* ============================================================================== */

/* -- Small Screen -- */
@media (min-width: 767px) {
    .container{
        width: 750px;
    }
}
/* -- Medium Screen -- */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* -- Large Screen -- */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
} 
/* =================================-- Header --============================================= */
header{
    padding: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
header .toggle-menue{
    display: none;
    color: white;
    font-size: 22px;
}

header .container{
    height: 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: '';
    position: absolute;
    border: 1px solid #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    z-index: -1;
}
header img{
    height: auto;
    width: auto;
}
header nav{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
}
header nav ul li a{
    position: relative;
    display: flex;
    color: white;
    padding: 40px 10px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    z-index: 3;
}

header nav ul li a:hover,
header nav ul li a.active{   
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    z-index: 1;
    bottom: -1px;
}

header nav .form{
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 60px;
    padding-left: 10px;
}
header nav .form::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    border-left:1px solid white;
    left: -10px;
}
header nav .form:hover i{
    rotate: 360deg;
    color: #0f748f;
    transition:  .5s ease-in-out;
}
@media (max-width: 767px) {
    header nav ul{
        display: none;
    }
    header .toggle-menue{
        display: flex;
        cursor: pointer;
    }
    header nav .form{
        margin-left: 30px;
    }
    header .toggle-menue:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 15px;
        width: calc(100% - 30px);
        background-color: var(--background-color);
    }
    header nav ul li a{
        padding: 15px !important;
    }
}
/* =================================-- Landing --============================================= */
.landing{
    min-height: 100vh;
    background-color: var(--background-color);
    background-image: url(/images/landing.jpg);
    background-size:cover ;
    /* position: relative; */
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.landing .txt{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .landing{
        background-image: url(/images/landing\ -\ Mobile.jpg);
    }
    .landing .txt{
        width: 100%;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    .landing .txt .content{
        width: 100%;
    }
    .landing .change-background{
        display: none;
    }
}
.landing .txt .content{
   padding: 20px;
}
.landing .txt .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom:20px ;
}
.landing .txt .content p{
    font-size: 14px;
    line-height: 1.6;
}
/* =================================  */
.landing .change-background {
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);
    color: white;
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .fa-angle-left:hover,
.landing .fa-angle-right:hover{
    color: var(--main-color);
    cursor: pointer;
}
.landing .bullets{
    position: absolute;
    left: calc(50% - 30px);
    transform: translateY(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
}

/* =================================-- services --============================================= */

.services-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap:30px ;
}
.services-content .service{
    display: flex;
    padding: 20px;
    text-align: left;   
}
.services-content .service div{
    padding: 0 0 0 100px ;
    width: 100%;
}
.services-content .service i{
    color: #777
}
.services-content .service h2{
    color: var(--main-color);
    padding-bottom: 20px;
}
.services-content .service p{
    color: #777;
    line-height: 2;
}